.contact_mainContainer {
    min-height: 90vh;
    display: grid;
    justify-content: center;
    align-items: center;
    form {
        display: grid;
        justify-content: center;
        align-items: center;
        h2 {
            text-align: center;
            margin-bottom: 1rem;
        }
        input {
            height: 2.5rem;
            padding: 1rem;
            outline: none;
            margin-bottom: 1rem;
            color: black;
        }  
        textarea {
            padding: 1rem;
            resize: none;
            margin-bottom: 1rem;
            color: black;
        }
        .contact__form--buttonsContainer {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
            color: black;
            button {
                border: none;
                padding: 0.5rem 1rem;
                border-radius: 5px;
                text-transform: uppercase;
            }
            button[type = "submit"] {
                background-color: grey;
                color: white;
                transition: all .1s ease-in;
            }
            button[type = "submit"]:hover {
                background-color: white;
                color: rgb(70, 70, 70);
                border: 1px solid rgb(75, 75, 75);
                cursor: pointer;
            }
            button[type = "reset"] {
                background-color: white;
                color: grey;
                border: 1px solid grey;
                transition: all .1s ease-in;
            }
            button[type = "reset"]:hover {
                background-color: rgb(102, 102, 102);
                color: white;
                cursor: pointer;
            }
        }
    }
}