/* INICIO FOOTER */
footer {
    .footer_Info {
        margin: 0;
        padding: 0;
        width: 100%;
        padding: 10px;
        background-color: black;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        grid-template-areas:
          "location contact"
          "social social";
        .maps_location {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #0c0d0c;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
            padding-top: 0;
            grid-area: location;
            border-radius: 2px;
            max-width: 320px;
            max-height: 290px; 
            h3 {
                padding-top: 5px;
                padding-bottom: 5px; 
            }
        }
        .footer_socialInfo-Movil {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            padding: 0;
            margin: 0;
            grid-area: social;
            justify-content: space-evenly;
            li {
                display: flex;
                margin: 0;
                padding: 0;
                justify-content: center;
                a {
                   width: 48px;
                   height: 48px;
                   display: grid;
                   align-content: center;
                   justify-content: center;
                   font-size: 30px;
                   background-color: #242625;
                   border-radius: 50px;
                }
            }
        }
        .footer_About {
            display: flex;
            flex-direction: column;
            grid-area: contact;            
            h3 {
                text-align: center; 
            }
            p {
                padding-top: 5px; 
            }
        }
        .footer_socialInfo {
            display: none;
        }
    }
}
/* FIN FOOTER */