/* INICIO MEDIA QUERY */
@media screen and (max-width: 506px){
    footer {
        .footer_Info {
            grid-template-columns: 1fr;
            justify-items: center;
            grid-template-areas:
              "contact"
              "location"
              "social";
        }
    }        
}

@media screen and (min-width: 768px) {
    header {

        .header_burguerMenu {
            display: none;
        }

        .header_menu {
            .header_closeMenu {
                display: none;
            }
            display: initial;
            position: inherit;

            ul {
                flex-direction: row;
                justify-content: space-evenly;
            }

            #header_menu--about {
                position: relative;

                ul {
                    display: none;
                    position: absolute;
                    left: 0;
                    padding: 8px;
                    height: 112px;
                    background-color: rgba(0, 0, 0, 0.8); 
                }
            }

            #header_menu--about:hover > ul {
                display: flex;
            }
        }

        .header_logo {
            width: 200px; 
        }
    }

    footer {
        .footer_Info {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            grid-template-areas:
              "location social1 contact";
            
              .footer_socialInfo {
                display: grid;
                grid-template-rows: repeat(3, 1fr);
                gap: 10px;
                padding: 10px 0 10px 0;
                /* margin: 10px; */
                grid-area: social1;
                justify-content: space-evenly;
    
                li {
                    display: flex;
                    margin: 0;
                    padding: 0;
                    justify-content: flex-start;
                    align-items: center;
    
                    a {
                        width: 48px;
                        display: grid;
                        align-content: center;
                        justify-content: center;
                        font-size: 30px; 
                    }
                }
            }
            .footer_socialInfo-Movil {
                display: none;
            }
        }
    }

    .home_mainContainer {
        .home_infoImg {
            grid-template-columns: 1fr 1fr 1fr;
            justify-items: center;
            grid-template-areas: 
            "img1 img2 img3";
            .info_category {
                width: 80%;
                height: 200px;
                border-radius: 2px;
            }
        }
    }

    .products_mainContainer {
        .products_contentContainer {
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            grid-template-areas: 
            "ptitle ptitle"
            "p1 p2"
            "p3 p4"
            "p5 p6"
            "p7 p8"
            "p9 p9";
            .items {
                height: 15rem;
            }
        }
    }
    .service_mainContainer {
        .service_contentContainer {
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            grid-template-areas: 
            "ptitle ptitle"
            "p1 p2"
            "p3 p3";
            .items {
                height: 15rem;
            }
        }
    }
}

@media screen and (min-width: 992px){
    .products_mainContainer {
        .products_contentContainer {
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
            grid-template-areas: 
            "ptitle ptitle ptitle"
            "p1 p2 p3"
            "p4 p5 p6"
            "p7 p8 p9";
            .items {
                height: 15rem;
                
            }
        }
    }
    .service_mainContainer {
        .service_contentContainer {
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
            grid-template-areas: 
            "ptitle ptitle ptitle"
            "p1 p2 p3";
            .items {
                height: 15rem;
                
            }
        }
    }
}
/* FIN MEDIA QUERY */